<div id="people">
	<div id="buyer_input"><strong>Buyer:</strong> 
  <form id="buyer-form">
      <input type="text" name="buyer" class="buyer_new_msg" />
  </form>
  </div>
	<div id="seller_input"><strong>Seller:</strong> 
  <form id="seller-form">
      <input type="text" name="seller" class="seller_new_msg" />
  </form>
  </div>
	<div class="clear_both"></div>
</div>
<div id="holder">
<div id="messages">
<div class="clear_both"></div>
</div>
</div>
