<div id="people">
	<div id="buyer_input"><strong>Buyer:</strong> <input type="text" name="buyer"></div>
	<div id="seller_input"><strong>Seller:</strong> <input type="text" name="seller"></div>
	<div class="clear_both"></div>
</div>
<div id="holder">
<div id="messages">

<div class="clear_both"></div>
</div>
</div>
<script>
  $(function() {
    $.get("/messages").success( function( data ) {
       $.each(data, function(index,  message) {
        console.log(message);
      });
    });
  });
</script>
