<div id="people">
	<div id="buyer_input"><strong>Buyer:</strong> <input type="text" name="buyer"></div>
	<div id="seller_input"><strong>Seller:</strong> <input type="text" name="seller"></div>
	<div class="clear_both"></div>
</div>
<div id="holder">
<div id="messages">
<% @messages.each do |message| %>
<div class="<%= message.person %>">
<span class="timestamp"><%= message.created_at.strftime("%m/%d/%Y - %l:%M %p") %></span><br /><%= message.dialog %>
</div>
<% end %>
<div class="clear_both"></div>
</div>
</div>