body {
	background-color:#000;
	color:#FFF;
}
#holder {
	width:100%;
	text-align:center;
}
#messages {
	height:400px;
	width:300px;
	border:3px solid #a3a3a3;
	border-radius:2px;
	margin:0 auto 0 auto;
	padding:2px 0;
	overflow-y: auto;
	color:#000;
	background-color:#FFF;
}
.buyer {
	background-color:#d3d3d4;
	color:#000;
	width:250px;
	float:left;
	border-radius:3px;
	margin:3px 0 3px 3px;
	padding:0 4px 4px 8px;
	text-align:left;
}
.seller {
	background-color:#2a9fff;
	color:#FFF;
	width:250px;
	float:right;
	border-radius:3px;
	margin:3px 3px 3px 0px;
	padding:0 4px 4px 8px;
	text-align:left;
}
.timestamp {
	text-transform:capitalize;
	font-size:11px;
}
#people {
	max-width:700px;
	margin:14px auto 0 auto;
}
#people input {
	width:230px;
}
#buyer_input {
	float:left;
	background-color:#d3d3d4;
	color:#000000;
	padding:10px;
	border-radius:3px;
}
#seller_input {
	float:right;
	background-color:#2a9fff;
	color:#FFFFFF;
	padding:10px;
	border-radius:3px;
}
form {
	display:inline;
}
input {
	color:#000000;
}
.clear_both {
	clear:both;
}